<section class="catalogy-container">
  <!-- input with filter -->
  <div class="animate__animated animate__fadeInDown animate__delay-2s catalogy-filter input-content">
    <input class="" type="text" placeholder="Type name or species..." [(ngModel)]="searchText">
    <button (click)="searchCharacters(searchText)">Search</button>
  </div>
  <ul class="catalogy-list-content" *ngIf="!isNotFound">
    <li *ngFor="let chart of characters " class="animate__animated animate__fadeInLeft animate__delay-2s catalogy-item" (click)="setCharacter(chart.name)">
      <div *ngIf="characterName !== chart.name" class="catalogy-item-non-selected">
        <img [src]="chart.image" alt="rick">
        <div class="catalogy-item-description">
          <h3>{{chart.name}}</h3>
          <p>{{chart.species}}</p>
        </div>
      </div>
      <div *ngIf="characterName === chart.name" class="catalogy-item-selected">
        <ul class="catalogy-item-selected-list">
          <li>
            <h1>{{chart.name}}</h1>
          </li>
          <li>
            <p><strong>Status:&nbsp;</strong>{{chart.status}}</p>
          </li>
          <li>
            <p><strong>Species:&nbsp;</strong>{{chart.species}}</p>
          </li>
          <li>
            <p><strong>Origin:&nbsp;</strong>{{chart.origin.name}}</p>
          </li>
          <li>
            <p><strong>Location:&nbsp;</strong>{{chart.location.name}}</p>
          </li>
          <li>
            <p><strong>Gender:&nbsp;</strong>{{chart.gender}}</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div *ngIf="isNotFound">
    <p>Not found</p>
  </div>
</section>


