@import '../../styles.scss';

.catalogy-container{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.catalogy-list-content{
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 4rem;
  justify-content: center;
  padding: 0px;
  width: 70%;
  margin-right: 0px;
}

.catalogy-item{
  display: flex-end;
  border-radius: 1rem;
  list-style: none;
  min-width: 150px;
  width: 200px;
  height: 300px;
  background-color: $quaternary;
  transition: .2s;
  img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
  }
  h3{
    margin: 0 1rem 0 0;
    font-size: 16px;
  }
  p{
    margin: 0;
    color: #c0df40;
    font-size: 13px;
  }
}

.catalogy-item-description{
  margin-left: 1rem;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3rem;
  // align-self: center;
  // border: solid white;
}

// .catalogy-item:hover{
//   background-color: $terciary;
//   color: $secondary;
//   cursor: pointer;
//   width: calc(200px + 2%);
//   // height: 13%;
//   transition: .2s;
//   -webkit-box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
//   -moz-box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
//   box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
// }


.catalogy-item-selected{
  // background-color: $terciary;
  color: $secondary;
  cursor: pointer;
  transition: .2s;
  ul {
    margin-top: 1rem;
  }
}

.catalogy-item-selected-list {
  padding: 0 1rem;
  list-style: none;
}

@media(hover: hover) and (pointer: fine) {
  .catalogy-item:hover{
    background-color: $terciary;
    color: $secondary;
    cursor: pointer;
    width: calc(200px + 2%);
    // height: 13%;
    transition: .2s;
    -webkit-box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
    -moz-box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
    box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
  }
}
