@import '../../styles.scss';

.catalogy-container{
  display: flex;
  flex-direction: column;
}

.catalogy-list-content{
  margin: 2.5rem 0;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 4rem;
  justify-content: center;
  padding: 0px;
  width: 70%;
  margin-right: 0px;
}

.catalogy-item{
  display: flex-end;
  border-radius: 1rem;
  list-style: none;
  min-width: 150px;
  width: 210px;
  height: 310px;
  background-color: $quaternary;
  transition: .2s;
  img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
  }
}

.catalogy-item-description{
  margin-left: 1rem;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3rem;
  h3{
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
  }
  p{
    margin: 0;
    color: #c0df40;
    line-height: 1.2rem;
    font-size: 13px;
  }
}

.catalogy-item-selected{
  color: $secondary;
  cursor: pointer;
  transition: .2s;
}

.catalogy-item-selected-list {
  padding: 0 1rem;
  list-style: none;
  margin-top: 2.5rem;
  h1 {
    color: #c0df40;
    font-size: 1.3rem;
    text-align: center;
  }
  li {
    text-align: justify;
    p{
      margin: 0;
      line-height: 1.4rem;
      font-size: 14px;
    }
  }
}

.input-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    color: $secondary;
    font-size: 1.2rem;
  }
  input {
    display: inline-block;
    width: 250px;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    padding: 1.2rem 1rem;
    font-size: 14px;
    color: $secondary;
    background-color: $quaternary;
    transition: .2s;
    &:focus {
      outline: none;
      background-color: $terciary;
    }
    &::placeholder {
      font-size: 14px;
    }
  }
}

@media(hover: hover) and (pointer: fine) {
  .catalogy-item:hover{
    background-color: $terciary;
    color: $secondary;
    cursor: pointer;
    width: calc(210px + 2%);
    transition: .2s;
    -webkit-box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
    -moz-box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
    box-shadow: 0px 0px 27px 5px rgba(192,223,64,1);
  }
}
