<section class="catalogy-container">
  <ul class="catalogy-list-content">
    <li *ngFor="let chart of characters; let i = index" class="animate__animated animate__fadeInLeft animate__delay-2s catalogy-item" (click)="setCharacter(chart.id)">
      <div *ngIf="characterId !== i+1" class="catalogy-item-non-selected">
        <img [src]="chart.image" alt="rick">
        <div class="catalogy-item-description">
          <h3>{{chart.name}}</h3>
          <p>{{chart.species}}</p>
        </div>
      </div>
      <div *ngIf="characterId === i+1" class="catalogy-item-selected">
        <ul class="catalogy-item-selected-list">
          <li>
            <h1>{{chart.name}}</h1>
          </li>
          <li>
            <strong>Status:&nbsp;</strong>{{chart.status}}
          </li>
          <li>
            <strong>Species:&nbsp;</strong>{{chart.species}}
          </li>
          <li>
            <strong>Origin:&nbsp;</strong>{{chart.origin.name}}
          </li>
          <li>
            <strong>Location:&nbsp;</strong>{{chart.location.name}}
          </li>
          <li>
            <strong>Gender:&nbsp;</strong>{{chart.gender}}
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>


